        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            background-color: #cccccc;
            background-image:url('../design/ads&buzz home image 60 ocp.jpg');
            background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
            background-size:cover;
        }

        .container {
            position: relative;
            width:100%;
            height:100%;
        }

        .row {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 89%;
            transform: translate(-50%,-50%);
        }   

        .baloncont {
          padding-right: 20px;
        }

        .balon {
            margin-bottom: 25%;
            margin-top: 25%;
            margin-left: 5%;
            max-width: 90%;
        }

        .boxcont {
          height: 80%; 
          padding-left:120px;
        }

        .loginbox {
            margin-bottom: 10%;
            margin-top: 25%;
            margin-left: 5%;
            max-width: 90%;
        }

        .regbox {
            margin-bottom: 10%;
            margin-top: 8%;
            margin-left: 5%;
            max-width: 90%;
        }

        .resetbox {
            margin-top: 44%;
            margin-left: 5%;
            max-width: 90%;
        }

        @media only screen and (max-width: 600px) {
          .boxcont {
            padding-left:30px;    
          }
          
          .baloncont {
            padding-right:0px;
          }

          .resetbox {
            margin-bottom: 10%;
          }

          .row {
            top: 48%;
          }           

          html, body {
            height: 130%;
          }

          body  {
            background-repeat:repeat-y;
          }
        }
        .fonthead {
            color:white;
            font-size: 20px;
            font-family: Arial;
            font-weight: bold;
        }
        .fontputih{
            color:white;
            font-family: Arial;
        }
        .fontreg{
            color:white;
            font-family: Arial;
            font-weight: bold;
        }