@font-face { 
	font-family: FiraSansMedium; 
    src: url("../fonts/fira-sans.semibold.ttf");
} 

@font-face { 
    font-family: FiraSansRegular; 
    src: url("../fonts/fira-sans.regular.ttf");
}

label,p,li,td, button {
	font-family: FiraSansRegular;
}
 h1 {
 	font-family: FiraSansMedium;
 	color: white;
 }